<div class="container content">
 
  <div class="page-header">

    <div style="float: right;">
      <select (change)="translate.use($event.target.value)">
        <option value="es">Español</option>
        <option value="fr">France</option>
        <option value="en">English</option>
      </select>
    </div>

    <div class="row">
      <h1>
        {{ title }} <b [innerHTML]="'HOLA' | translate"></b>
      </h1>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">{{title}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['/destino']">Destino </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">Login </a>
          </li>
        </ul>
        <span class="navbar-text">
          {{ time | async }}  

          
        </span>
      </div>
    </nav>

    <br>

    <!-- <app-lista-destinos></app-lista-destinos> -->
    <router-outlet></router-outlet>
  </div>

</div>